html{
    /* Se cambia el color de fondo */
    background-color: rgb(59, 59, 59);
    /* Se cambia el color de la letra */
    color:  white;

    scroll-behavior: smooth;
}
img{
    max-width: 100%;
}